importClassesFrom(Biobase, AnnotatedDataFrame, AssayData, eSet,
                  ExpressionSet, MIAME, Versioned, VersionedBiobase,
                  Versions)
importMethodsFrom(Biobase, annotatedDataFrameFrom, exprs, se.exprs, "se.exprs<-", annotation, sampleNames)

importFrom(Biobase, assayDataElement, assayDataElementReplace, assayDataNew, pData)
importFrom(nondetects, qpcrImpute)

import(HTqPCR)
import(GEOquery)

export(combData)
export(CommonGenesCorPlot)
export(qPCRdata)
export(qPCRexprs)
